<pre>
Kazuki Otsuka (1985-)

Kazuki Otsuka is a Tokyo-based programmer, an independent computational evolutionary scientist, and a contemporary artist.
Since first becoming interested in the mathematical structure of beauty at age 16, he has consistently explored extending the original field of aesthetics—defined since Baumgarten in the 18th century as the study of perception under cognition—through formal logic, researched musical structure while studying overseas in France, and continued this work as a university researcher and beyond.
He calls this proposed field of study and artistic philosophy “Transformism.”

As a serial entrepreneur, he has led numerous software projects, carrying out every stage—including infrastructure, backend, interfaces, and AI-based mathematical modeling.

Kazuki worked mainly on,

[Public Speaking]

<a href="https://kazukiotsuka.org/2025/04/09/computing-and-zen/">“Zen and Computing”</a> @ Dubai World Trade Center, UAE
Full transcript and Japanese translation

[Theory]

Theorem of computational evolution of the golden ratio  
<a href="https://arxiv.org/abs/2203.12385">https://arxiv.org/abs/2203.12385</a> 2022

Mathematical model of a Turing-complete computer and language based on the non-law-of-excluded-middle structure of quantum logic  
<a href="https://arxiv.org/abs/2203.12385">"Computational Language β based on Orthomodular Lattices with the Non-distributivity of Quantum Logic."</a> arXiv preprint arXiv:2203.12385 (2022)

[Software Algorithms / Patent]

Algorithm that computes non-Boolean propositions “X is {A-like} to the extent σ” using dimensional compression into a "neutral semantic subspace" in a high-dimensional word vector space  
<a href="https://thinkxinc.com/documents/AAAI2022.pdf">"Computing Semantic Spectral Qualities using Neutral Semantic Subspace"</a>, 2022  
Patent 73937722  
<a href="https://www.j-platpat.inpit.go.jp/c1801/PU/JP-7393772/15/ja">"Document analysis algorithm, recommendation system, document analysis method, and document analysis program"</a> 2023.12.07

[Contemporary Art Works]

Analysis of the recursive sequence structure in J.S. Bach’s monophonic piece “BWV1013”  
<a href="https://transformism.art/#computational-complexity">“Computational Complexity”</a> (2024, silkscreen on Kent board)

Zen and Mathematical Aesthetics  
<a href="https://kazukiotsuka.org/2025/04/09/computing-and-zen/">“001101”</a> (2025, acrylic on canvas)

<a href="https://kazukiotsuka.org">Blog</a>
<a href="https://thinkxinc.com">ThinkX Inc.</a>
<a href="https://x.com/K00TSUKA">X @K00TSUKA</a>  
<a href="https://www.linkedin.com/in/kazukiotsuka/">LinkedIn</a>  
Past Interviews: <a href="https://type.jp/et/feature/921/">type</a>, <a href="https://buildplus.io/jp/blog/ja/leeways-2">Build Plus</a>
</pre>
