<pre>
Kazuki Otsuka (1985-)

大塚一輝は東京を拠点とするプログラマー、独立計算進化学者、現代芸術家。
16歳で美の数理構造に興味をもち、その後フランス派遣留学中に音楽構造の研究、大学研究員等を経て、一貫して、18世紀のバウムガルデン以降、認識下知覚の研究分野として定義された美学の原型を形式論理学を通じて拡張する探究を行う。
この提唱する学および芸術思想を「Transformism（計算進化学）」と呼んでいる。

連続起業家として、多数のソフトウェアプロジェクトを主導し、インフラ、バックエンド、インターフェース、AI数理モデルを含む全ての工程を行う。

主な仕事に、

[講演]

<a href="https://kazukiotsuka.org/2025/04/09/computing-and-zen/">「禅とコンピューティング」</a> @ Dubai World Trade Center, UAE 
全文文字起こしと和訳

[理論]

黄金比の計算進化定理  
<a href="https://arxiv.org/abs/2203.12385">https://arxiv.org/abs/2203.12385</a> 2022

量子論理の反排中律的構造に基づいたチューリング完全なコンピュータと言語の数学的モデル  
<a href="https://arxiv.org/abs/2203.12385">"Computational Language β based on Orthomodular Lattices with the Non-distributivity of Quantum Logic."</a> arXiv preprint arXiv:2203.12385 (2022)

[ソフトウェアアルゴリズム・特許]

高次元単語ベクトル空間内の「意味中立部分空間」への次元圧縮により、非ブール命題「Xはσ程度にA的」を計算するアルゴリズム  
<a href="https://thinkxinc.com/documents/AAAI2022.pdf">"Computing Semantic Spectral Qualities using Neutral Semantic Subspace"</a>, 2022  
特許73937722  
<a href="https://www.j-platpat.inpit.go.jp/c1801/PU/JP-7393772/15/ja">「文書解析アルゴリズム、レコメンドシステム、文書解析方法及び文書解析プログラム」</a> 2023.12.07

[現代美術作品]

J.S.バッハの単旋律曲「BWV1013」の再帰的シーケンス構造の分析  
<a href="https://transformism.art/#computational-complexity">「Computational Complexity（計算複雑性）」</a>（2024、シルクスクリーン・ケントボード）

禅と数学的美意識  
<a href="https://kazukiotsuka.org/2025/04/09/computing-and-zen/">「001101」</a>（2025、キャンバスにアクリル）

<a href="https://kazukiotsuka.org">Blog</a> | 
<a href="https://thinkxinc.com">ThinkX Inc.</a> | 
<a href="https://x.com/K00TSUKA">X @K00TSUKA</a>  
過去のインタビュー <a href="https://type.jp/et/feature/921/">type</a>, <a href="https://buildplus.io/jp/blog/ja/leeways-2">Build Plus</a>
</pre>
