{% extends "general/base.html" %}

{% block head %}
	<link rel="stylesheet" href="/jslibs/HTML5-Reset/assets/css/reset.css" />
	<link rel="stylesheet" href="/jslibs/HTML5-Reset/assets/css/style.css" />
  <link rel="stylesheet" href="/css/main.css">

  <!-- canvas -->
  <script type="text/javascript" src="/jslibs/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="/jslibs/CreateJS/createjs.js"></script>
  <script type="text/javascript" src="/jslibs/Box2d/Box2dWeb-2.1.a.3.min.js"></script>
	<script type="text/javascript" src="/js/PlayQueue.js"></script>
{% endblock %}


{% block content %}
  <script>
    window.onload = function() {
    	initCanvas();
      showBio();
    }
  </script>

  <section id="top" class="top" data-fit-window="true">
    {# canvas内部の挙動はworld.jsに，menuやcopyrightなどの設定はsetting.jsに書かれている #}
    <div class="container">
	   <canvas id="canvas" style="background-color: #FFF;" resize></canvas>
    </div>
   	<div class="playmenus" id="ms" style="display:none;opacity:0;position:fixed;min-width:200px;z-index:999;">
   		<div class="playmenu" onclick="clickm1();showBio();" id="m1" style="color:#000; position:absolute; top:100px; left:20px; cursor:pointer;"></div>
   		<div class="playmenu" onclick="clickm2();showBlog();" id="m2" style="color:#000; position:absolute; top:140px; left:20px; cursor:pointer;"></div>
   		<div class="playmenu" onclick="clickm3();showContact();" id="m3" style="color:#000; position:absolute; top:180px; left:20px; cursor:pointer;"></div>
   		<div class="playmenu" onclick="clickm4();justPlay();" id="m4" style="color:#000; position:absolute; top:220px; left:20px; cursor:pointer;"></div>
   		<div class="playmenu" onclick="clickm5()" id="m5" style="color:#000; position:absolute; top:260px; left:20px; cursor:pointer;"></div>
      <div id="mtx" style="display:none;">
        <div id="mt1">BIO</div>
        <div id="mt2">BLOG</div>
        <div id="mt3">CONTACT</div>
        <div id="mt4">JUST PLAY</div>
      </div>
      <div id="mtx2" style="display:none;">
        <div id="mt_1">BIO</div>
        <div id="mt_2">BLOG</div>
        <div id="mt_3">CONTACT</div>
        <div id="mt_4">JUST PLAY</div>
      </div>
   	</div>
    <div id="bio" class="view" style="display:none;">
      <img id="photo" src="/img/bio/self.jpg">
      <div class="profile">
        Paul Graham is a programmer, writer, and investor. In 1995, he and Robert Morris started Viaweb, the first software as a service company. Viaweb was acquired by Yahoo in 1998, where it became Yahoo Store. In 2001 he started publishing essays on paulgraham.com, which now gets around 25 million page views per year. In 2005 he and Jessica Livingston, Robert Morris, and Trevor Blackwell started Y Combinator, the first of a new type of startup incubator. Since 2005 Y Combinator has funded over 3000 startups, including Airbnb, Dropbox, Stripe, and Reddit. In 2019 he published a new Lisp dialect written in itself called Bel.
<br>
<br>
Paul is the author of On Lisp (Prentice Hall, 1993), ANSI Common Lisp (Prentice Hall, 1995), and Hackers & Painters (O'Reilly, 2004). He has an AB from Cornell and a PhD in Computer Science from Harvard, and studied painting at RISD and the Accademia di Belle Arti in Florence.
      </div>
    </div>
    <div id="copyright" class="copyright" style="position: fixed;">© <script>document.write(new Date().getFullYear());</script> KAZUKI OTSUKA</div>
  </section>
{% endblock %}

{% block foot %}
	<script type="text/javascript" src="/js/conf.js"></script>
	<script type="text/javascript" src="/js/world.js"></script>
	<script type="text/javascript" src="/js/setting.js"></script>
	<script type="text/javascript" src="/js/shuffle.js"></script>
 
  <script src="/js/main.js"></script>
{% endblock %}
