{% extends "general/base.html" %}

{% block head %}
  <script src="/js/main.js"></script>
{% endblock %}


{% block content %}
  <script>
    window.onload = function() {
    	initCanvas();
    }
  </script>

  <header class="underlay"></header>
  <header class="overlay">
    <ul>
      <li class="company-logo">
        <a href="javascript:;" data-menu="concept" data-action="scroll" data-distination="concept">
          <!--<figure class="symbol"></figure>-->
        </a>
      </li>
      <li class="menuBtn">
        <a href="javascript:;" data-action="toggle-menu">
          <img class="toggle-menu-open" src="/img/sp_menu.png" srcset="/img/sp_menu@2x.png 2x"/>
          <img class="toggle-menu-close" src="/img/sp_menu_close.png" srcset="/img/sp_menu_close@2x.png 2x"/>
        </a>
      </li>
    </ul>
  </header>


 <footer>
    <div class="copyright">© <script>document.write(new Date().getFullYear());</script> KAZUKI OTSUKA</div>
  </footer>

{% endblock %}

{% block foot %}
	<!--<script src="/js/compiled/_setting.js"></script>-->
	<!--<script src="/js/compiled/_shuffle.js"></script>-->
	<script src="/js/lib/jquery.easing.1.3.js"></script>
	<script src="/js/setting.js"></script>
	<script src="/js/shuffle.js"></script>
 
{% endblock %}
